#########################################
# There is only this EditorConfig file. #
#########################################
root = true

###################################
# Optimized to UNIX-like systems. #
###################################
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

##################################################
# The most recent version of the Code of Conduct #
# favors this indentation with 3 spaces due to   #
# nested lists, specially the ordered ones.      #
##################################################
[CODE_OF_CONDUCT.E[NS].md]
indent_size = 3
